.footer {
    background-color: hsl(260, 8%, 14%);

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }

    &__item {
        text-align: center;
        justify-items: center;

        &-logo {
            margin: 0 auto;
            display: block;
        }

        &-title {
            margin-bottom: 5px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 22px;
        }

        &__ul {
            display: flex;
            flex-direction: column;
            grid-gap: 5px;


            &-link {
                text-transform: capitalize;
                font-size: 16px;
                color: hsl(0, 0%, 75%);
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                    color: hsl(180, 66%, 49%);
                }
            }

            &--social {
                flex-direction: row;
                grid-gap: 15px;
            }

            &-social {
                height: max-content;
                width: max-content;

                svg {
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                    transition: fill 0.3s, transform 0.3s;
                }

                &:hover > svg {
                    fill: hsl(180, 66%, 49%);
                    transform: translateY(-7px);
                }
            }
        }
    }
}


@media screen and (min-width: 650px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__item--social {
        grid-column: 1 / 3;
    }

    .footer__item__ul-link {
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__item {
        text-align-last: left;
        justify-items: start;

        &-logo {
            margin: 0;
        }

        &--social {
            grid-column: 3 / 4;
        }
    }
}

@media screen and (min-width: 900px) {
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__item--social {
        grid-column: 1 / 2;
    }
}

@media screen and (min-width: 1150px) {
    .footer__container {
        grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr 0.6fr;
        grid-gap: 20px;
    }

    .footer__item--social {
        grid-column: 5 / 6;
        margin-top: 10px;
    }
}