@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root {
	--cyan: hsl(180, 66%, 49%);
	--dark-cyan: hsl(180deg 54.15% 42.7%);
	--dark-violet: hsl(257, 27%, 26%);
	--red: hsl(0, 87%, 67%);
	--gray: hsl(0, 0%, 75%);
	--grayish-violet: hsl(257, 7%, 63%);
	--very-dark-blue: hsl(255, 11%, 22%);
	--very-dark-violet: hsl(260, 8%, 14%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	width: 100%;
	overflow-x: hidden;
}

main {
	width: 100%;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button, input {
	border: none;
	outline: none;
}

button {
	background: none;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
	overflow-x: hidden;
}